<div class="change-password-view">
    <form class="change-password-view__box">
        <div class="change-password__item">
            <p class="change-password__item__label">Старый пароль</p>
            <input class="change-password__item__data" name="oldPassword" placeholder="Old password">
        </div>
        <div class="change-password__item">
            <p class="change-password__item__label">Новый пароль</p>
            <input class="change-password__item__data" name="newPassword" placeholder="New password">
        </div>
        <div class="change-password__item">
            <p class="change-password__item__label">Повторите пароль</p>
            <input class="change-password__item__data" name="repeatPassword" placeholder="Repeat password">
        </div>
        {{> button class="button-green button-filled-bordered" type="submit" label="Сохранить" onclick="goToPage('profile_view', {name: 'Vitaly Borisov', login: 'asllf', email: 'vit@mail.com', first_name: 'Vitaly', second_name: 'Borisov', nick_name: 'Vita', phone: '+79277777777'})" }}
    </form>
</div>
