<div class="error-40x">
    <div class="error-box">
        <div class="error-40x-code">{{ code }}</div>
        <div class="message-40x">Что-то потерялось</div>
        {{> button class="button-empty-bordered button-white" label="Назад к мессенджеру" onclick="" }}
    </div>
</div>