<div class="error-50x">
    <div class="error-box">
        <div class="error-50x-code">{{ code }}</div>
        <div class="message-50x">Мы уже фиксим!</div>
        {{> button class="button-empty-bordered button-white" label="Назад к мессенджеру" onclick="" }}
    </div>
</div>