<div class="error-40x">
    <div class="error-box">
        <h1 class="error-40x-code">{{ code }}</h1>
        <h2 class="message-40x">Что-то потерялось</h2>
        {{> button class="button-empty-bordered button-white" type="button" label="Назад к мессенджеру" onclick="" }}
    </div>
</div>
