<div class="chat-settings">
    <div class="chat-settings__box">
        <div class="chat-settings__info">
            <div class="chat-settings__photo"></div>
            <div>
                <input class="chat-settings__name" value="{{name}}">
            </div>
        </div>
        <input class="add-new-member" placeholder="Поиск...">
        {{> member name="Vita"}}
        {{> member name="Vita"}}
        {{> member name="Vita"}}
        {{> button class="button-green button-filled-bordered" label="Сохранить" onclick="" }}
    </div>
</div>