<div class="dialog-space">
    <div class="dialog-space__header">
        <div class="header__info">
            <div class="header__photo"></div>
            <div class="header__name">{{ name }}</div>
        </div>
        <div class="header__add-button">⋮</div>
    </div>
    <div class="dialog-space__dialog">
        {{> date-message date="Today"}}
        {{> left-message text="Hello!" time="10:03"}}
        {{> right-message text="Hello bro!" time="10:05"}}
    </div>
    <div class="dialog-space__sender">
        {{> button class="button-green button-filled_circle" label="+" }}
        <input class="message-input" name="message"/>
        {{> button class="button-green button-filled_circle" label="➤"}}
    </div>
</div>