<div class="error-50x">
    <div class="error-box">
        <h1 class="error-50x-code">{{ code }}</h1>
        <h2 class="message-50x">Мы уже фиксим!</h2>
        {{{ backButton }}}
    </div>
</div>
