<div class="entrance-view">
    <form class="entrance-view__form entrance-view__form_border">
        <h1 class="form__enter-text">Войти</h1>
        <div class="form__item">
            <div>
                <label class="form__label">Логин</label>
            </div>
            {{{ loginInput }}}
        </div>
        <div class="form__item">
            <div>
                <label class="form__label">Пароль </label>
            </div>
            {{{ passwordInput }}}
        </div>
        {{{ entranceButton }}}
        {{{ registerButton }}}
    </form>
</div>
