@use '../../../../components/LeftMessage/left-message.scss';
@use '../../../../components/LeftMessageGroup/left-message-group.scss';
@use '../../../../components/RightMessage/right-message.scss';
@use '../../../../components/DateMessage/date-message.scss';
@import '../../../../variables.scss';

.text {
  color: $primary_color;
  font-family: Inter, serif;
}

.dialog-space {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header, &__sender {
    padding: 10px;
    background: $primary_light;
  }

  &__sender {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__dialog {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__header {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__photo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: gray;
  }

  &__name {
    @extend .text;
    font-size: 20px;
    margin: 10px;
  }

  &__add-button {
    @extend .text;
    font-size: 30px;
    font-weight: bold;
    width: 20px;
    height: 40px;
  }
}

.message-input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 10px;
  border-style: none;
  background: white;
}
