<div class="left-message">
    <div class="left-message-box">
        <div class="left-message__group">
            <div class="group-name">{{ name }}</div>
            <div class="group-text">{{ text }}</div>
        </div>
        <div class="left-message__time">{{ time }}</div>
    </div>
</div>