<div class="chat-settings">
    <div class="chat-settings__box">
        <div class="chat-settings__info">
            <div class="chat-settings__photo"></div>
            <div>
                {{{ chatNameInput }}}
            </div>
        </div>
        {{{ addMemberInput }}}
        {{{ memberContainer }}}
        {{{ saveButton }}}
    </div>
</div>
