@use 'pages/entrance/entrance-view.scss';
@use 'pages/registration/registration-view.scss';
@use 'pages/messenger/messenger-view.scss';
@use 'pages/errors/50x/error-50x.scss';
@use 'pages/errors/40x/error-40x.scss';
@use 'pages/profile/profile-view.scss';
@use 'pages/profile/modules/changeData/change-data.scss';
@use 'pages/profile/modules/changePassword/change-password.scss';

body {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.error {
  border: 2px solid red;
  border-radius: 5px;
}
