@use 'pages/entrance/entrance-view';
@use 'pages/registration/registration-view';
@use 'pages/messenger/messenger-view';
@use 'pages/errors/50x/error-50x';
@use 'pages/errors/40x/error-40x';
@use 'pages/profile/profile-view';
@use 'pages/profile/modules/changeData/change-data';
@use 'pages/profile/modules/changePassword/change-password';

body {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.error {
  border: 2px solid red;
  border-radius: 5px;
}
